footer {
  overflow: hidden;
  background-color: var(--background-light);
  padding-bottom: 70px;
}

footer .wraper {
  justify-content: space-between;
  align-items: flex-end;
}

footer nav {
  flex: initial;
}

.footer-nav ul {
  padding: 30px;
  border-top: 1px solid var(--neutral-medium-variant);
  border-bottom: 1px solid var(--neutral-medium-variant);
}

footer li,
footer a {
  color: var(--neutral-dark);
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
