header {
  position: fixed;
  width: 100%;
  z-index: 5;
}

#header-nav {
  padding: 20px 0;
  background-color: rgba(var(--transoverlay), var(--opacity-transoverlay));
}

#header-nav .wraper {
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 30%;
}

nav {
  display: flex;
  justify-content: center;
}

nav ul {
  display: flex;
  gap: 35px;
  font-weight: 600;
}

nav li {
  color: var(--neutral-light);
}

nav li::after {
  content: "~";
  margin-left: 35px;
}

nav li:last-child::after {
  content: "";
  margin-left: 0;
}

header a {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: var(--neutral-light);
}

.social {
  display: flex;
  gap: 30px;
}

.social img {
  width: 15px;
  height: 15px;
}

#js-nav {
  display: flex;
  column-gap: 50px;
  width: 100%;
  justify-content: space-between;
  /* transition: transform 0.7s, opacity 1s;
  transform: translateX(100%); */
}

.menu-icon {
  display: none;
  position: relative;
  margin-left: auto;
  width: 45px;
  height: 35px;
  z-index: 1;
}

.menu-icon span {
  position: absolute;
  left: 0;
  background: #ffffff;
  width: inherit;
  height: 5px;
  transition: transform 0.5s, opacity 0.5s;
}

.top-line {
  top: 0px;
}

.center-line {
  top: 15px;
}

.bottom-line {
  bottom: 0px;
}

.top-line.active {
  transform: translateY(15px) rotate(45deg);
}

.center-line.active {
  opacity: 0;
}

.bottom-line.active {
  transform: translateY(-15px) rotate(-45deg);
}

@media only screen and (max-width: 1400px) {
  nav ul {
    gap: 20px;
  }

  nav li::after {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 1200px) {
  #js-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 100px;
    background: var(--neutral-dark);
    position: fixed;
    top: 0;
    right: 0;
    width: 35%;
    height: 100vh;
    transition: transform 0.7s, opacity 1s;
    transform: translateX(100%);
    opacity: 0;
  }

  #js-nav.show {
    opacity: 0.9;
    transform: translateX(0%);
  }

  #js-nav ul {
    flex-direction: column;
    text-align: center;
    row-gap: 35px;
  }

  #js-nav nav li::after {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  #header-nav .wraper {
    justify-content: space-around;
  }
}
