header {
  background: url(../assets/img/hero-background.png);
}

/* header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(46, 46, 46);
  background: radial-gradient(
    circle,
    rgba(46, 46, 46, 1) 0%,
    rgba(76, 76, 77, 1) 35%,
    rgba(182, 182, 182, 0.2361987031140581) 100%
  );
  opacity: 0.6;
} */

#header-nav {
  padding: 20px 0;
  background-color: rgba(
    var(--transoverlay),
    var(--opacity-transoverlay)
  ); /*Should opacity value be in variables or just write it directly here?*/
}

#header-nav .wraper {
  align-items: center;
}

.logo {
  margin-right: auto;
}

nav {
  display: flex;
  flex: 1;
  justify-content: center;
}

nav ul {
  display: flex;
  gap: 35px;
  font-weight: 600;
}

nav li {
  justify-content: space-between;
  color: var(--neutral-light);
}

header a {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: var(--neutral-light);
}

.social {
  display: flex;
  gap: 30px;
}
.social img {
  width: 15px;
  height: 15px;
}

#hero {
  text-align: center;
}

#hero p {
  font-size: 24px;
  color: var(--neutral-light);
  margin-bottom: 70px;
}

#hero a {
  font-weight: bold;
  display: block;
  width: 200px;
  padding: 20px 40px;
  margin: 0 auto 215px auto;
  border: 1px dashed var(--neutral-light);
  background-color: rgba(var(--transoverlay), var(--opacity-transoverlay));
}
