#hero {
  position: relative;
  height: 100vh;
  background: center/cover url(../assets/img/hero-background.png) no-repeat;
  text-align: center;
  border-bottom: 10px solid var(--neutral-light);
}

#hero .wraper {
  flex-direction: column;
}

#hero::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgb(40, 40, 40);
  background: radial-gradient(
    circle,
    rgba(40, 40, 40, 1) 0%,
    rgba(70, 70, 70, 1) 22%,
    rgba(130, 130, 130, 0.2361987031140581) 45%
  );
  opacity: 0.6;
}

#hero::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -55px;
  width: 100%;
  height: 110px;
  background: center/auto url(../assets/svg/badge-border.svg) no-repeat,
    center/auto url(../assets/svg/bread.svg) no-repeat;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
}

#hero p {
  font-size: 24px;
  color: var(--neutral-light);
  margin-bottom: 70px;
}

.hero-content a {
  background-color: rgba(86, 83, 76, 0.6);
  border: 1px dashed var(--neutral-dark-variant);
  padding: 20px 40px;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: var(--neutral-light);
}

.wave-container {
  width: 200px;
  margin-bottom: 72px;
}

.wave {
  stroke-dasharray: 12;
  stroke-dashoffset: 20;
  animation: draw-line 1.5s cubic-bezier(0.29, 0.68, 0.74, 1.02) forwards 1s;
  clip-path: inset(0 100% 0 0);
}

@keyframes draw-line {
  to {
    stroke-dashoffset: 0;
    clip-path: inset(0 0 0 0);
  }
}

@media only screen and (max-width: 992px) {
  #hero p {
    font-size: 20px;
  }
}

@media only screen and (max-width: 768px) {
  #hero p {
    font-size: 16px;
  }
}
