.prep-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 200px;
  height: 200px;
  background: var(--neutral-light);
  padding: 30px 45px;
  z-index: 0;
}

.primary-info::before {
  content: "";
  background: center/100% url(../assets/svg/total-prep-time-background.svg)
    no-repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
  z-index: -1;
}

.prep-info p,
.prep-info p:first-child,
.prep-info p:last-child {
  font: bold 18px "Alegreya", serif;
  margin-bottom: 0;
}

.prep-info p:first-child {
  text-transform: uppercase;
  color: var(--neutral-warm);
}

.prep-info p:last-child {
  color: #979285;
  margin-top: 10px;
}

.prep-info p {
  font-size: 98px;
  color: var(--emphasis);
  line-height: 1;
}

.secondary-info {
  background-color: rgba(255, 255, 255, 0.8);
}

.secondary-info p {
  font-size: 60px;
  color: var(--neutral-dark);
}
